<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul style="list-style: none;">
        <li>(Python specific) In Python, what is the difference between else and finally in exception handling?</li>
        <li>The else block will code when there is no error. but The finally block lets you execute code, regardless of
          the result of the try- and except blocks </li>
      </ul>
      <hr>
      <h3>Write a program that finds all prime numbers up to n for input n.</h3>
      <p> Example Output: 20 -> 2 3 5 7 11 13 17 19</p>
      <input type="number" class="form-control" [(ngModel)] = "userInput">
    <!-- <p>{{userInput}}</p> -->
    <div style ="padding: 10px;"></div>
    <button class="btn btn-primary" 
    [disabled]="userInput <= 0"
    (click)="Primenum()"
    >find all prime numbers in {{userInput}} range</button><br>
    <div style ="padding: 10px;"></div>
    <p *ngIf="toggle">{{userInput}} --> {{Primelist}}</p>
    </div>
    
  </div>
</div>